.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px lightgray;
  background-color: #0e1217;
  height: 10vh;
  max-width: 100%;
}

.links {
  display: flex;
  margin: 0 2rem;
  width: 25vw;
}

.link {
  margin: 1rem;
  text-decoration: none;
  font-size: 2em;
  color: white;
}

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  margin: 0 2rem;
  background-color: white;
  height: 3rem;
  width: 3rem;

  &Icon {
    height: 1.5rem;
    width: 1.5rem;
    color: black;
  }

  &Amount {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 1rem;
    transform: translate(10px, 7px);
    padding: 0.8rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: yellowgreen;
    border-radius: 50%;
  }
}
