.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px white;
  border-radius: 25px;
  margin: 1rem;
  min-height: 200px;
  width: 90%;
  padding: 1rem;
  color: white;

  &:nth-child(1) {
    margin-top: 3rem;
  }
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.img {
  display: none;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;

  &Heading {
    font-size: 25px;
  }

  &Quantity {
    margin-left: 1rem;
    font-weight: 400;
    color: yellowgreen;
  }

  &Price {
    display: none;
  }
}

.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;

  &Button {
    border: none;
    border-radius: 50%;
    margin-left: 1.5rem;
    background-color: yellowgreen;
    height: 35px;
    width: 35px;
  }
}

@media screen and (min-width: 850px) {
  .cartItem {
    padding: 2rem;
  }
  .img {
    display: inline;
    border-radius: 22px;
    max-height: 100px;
    max-width: 220px;
  }

  .leftSide {
    &Price {
      display: inline;
    }
  }
}
